.PosTable {
  text-align: center;
  margin-left: 130px;
  margin-right: 130px;
}

table {
  width: 80%;
  margin: 10px auto;
  border-collapse: collapse;
}

table,
th,
td {
  border: 1px solid #ddd;
}

th,
td {
  padding: 10px;
  text-align: left;
}

th {
  background-color: #f4f4f4;
}

.pagination {
  margin-top: 20px;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.pagination button {
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  background-color: white;
}

.pagination button.active {
  background-color: #007bff;
  color: white;
}

.pagination button:disabled {
  cursor: not-allowed;
  background-color: #f0f0f0;
}